@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  font-family: "Noto Sans HK", sans-serif;
}

/* Header */
#header {
  transition: top 0.6s;
}
header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: 100%;
  z-index: 999;
}

.logo-text {
  height: auto;
  width: 170px;
  text-align: left;
  margin: 6px 0.6em;
}

.header-nav-models-tablet-view,
.header-nav-models {
  display: none;
}

.header-nav-content {
  height: auto;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: white;
  transform: scale(0, 1);
  transition: transform 200ms ease-in-out 100ms;
  transform-origin: right;
  margin-top: 3rem;
  border: 1px solid #bfafb2;
  border-right: none;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 0px 12px #808080;
}

/* Horizontal line in the Main Hamburger Navigaion Bar*/
.header-nav-links-content hr {
  border-top: 1px solid #bfafb2;
  border-bottom: none;
  margin: 0px 10px;
}

/* Size of Main Hamburger Slide */
.header-nav-links-content li {
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
  font-family: sans-serif;
  list-style: none;
}

.header-nav-links-content li a {
  color: black;
  text-decoration: none;
  font-size: 0.78rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.header-nav-links-content li :hover,
.header-nav-links-content li:nth-child(3) a {
  color: #8d8d8d;
}
.header-nav-links-content li:nth-child(3) a {
  cursor: default;
  pointer-events: none;
}

/* Navigation Toggle with animation*/
.nav-toggle {
  display: none;
}

.nav-toggle-lable {
  position: absolute;
  right: 0%;
  margin-right: 1.3em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-lable:hover {
  cursor: pointer;
}
.nav-toggle-lable span,
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
  display: block;
  background: white;
  height: 0.125em;
  width: 1.2em;
  border-radius: 2px;
  transition: all 0.4s ease;
}

.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
  content: "";
  position: absolute;
}

.nav-toggle-lable span::before {
  transform: translateY(-5px);
}

.nav-toggle-lable span::after {
  transform: translateY(5px);
}

.nav-toggle-lable.open span {
  transform: translateX(-20px);
  background: transparent;
}

.nav-toggle-lable.open span::before {
  transform: rotate(45deg) translate(15px, -15px);
  background: #fff;
}

.nav-toggle-lable.open span::after {
  transform: rotate(-45deg) translate(15px, 15px);
  background: #fff;
}

.nav-toggle:checked ~ .header-nav-content {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .header-nav-content a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/*Mouse Scroll

.scroll {
  transform: translateX(-50%);
  position: fixed;
  bottom: 1.5%;
  left: 48%;
}

.mouse-scroll {
  height: 40px;
  width: 25px;
  border: 2px solid #fff;
  border-radius: 30px;
}

.mouse-scroll::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 16%;
  left: 40%;
  border-radius: 50%;
  animation: 1.5s scroll cubic-bezier(0.7, -0.6, 0.3, 8) infinite;
}

.mouse-scroll:hover {
  background: #fff;
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}

.mouse-scroll:hover::before {
  background: #696969;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.8);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(15px) scale(0.8);
  }
}
End of mouse scroll*/

#model14,
#model15,
#model16,
#model17,
#model18,
#model19 {
  height: 100vh;
  width: 100%;
  display: flex;
}

.model-img-specs {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.model14-img {
  background-image: url("../Media/ATV/2014.png");
}
.model15-img {
  background-image: url("../Media/ATV/2015.png");
}
.model16-img {
  background-image: url("../Media/ATV/2016.png");
}
.model17-img {
  background-image: url("../Media/ATV/2017.png");
}
.model18-img {
  background-image: url("../Media/ATV/2018.png");
}
.model19-img {
  background-image: url("../Media/ATV/2018.png");
}

/*Model Content*/
.model-content {
  position: relative;
  background-color: #131313;
}

.model-name {
  height: auto;
  width: auto;
  margin: 55px 30px 0 30px;
}

.model-name :first-child {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  font-weight: bolder;
}

.model-name :first-child :first-child {
  display: none;
}

.model-intro {
  height: 38vh;
  width: auto;
  margin: 10px 30px 0 30px;
  overflow: auto;
  scrollbar-base-color: #ffffff;
}

.model-intro :first-child {
  text-align: left;
  font-size: 17px;
  color: #fffafa;
  font-weight: bold;
}

.model-intro :nth-child(2) {
  font-size: 15px;
  color: #696969;
  padding-top: 5px;
  line-height: 20px;
}

.model-achievements {
  height: 38vh;
  width: auto;
  margin: 10px 30px 0 30px;
  overflow: scroll;
  scrollbar-base-color: #ffffff;
}

.model-achievements :first-child {
  text-align: left;
  font-size: 17px;
  color: #fffafa;
  font-weight: bold;
}

.model-achievements :nth-child(2) {
  font-size: 15px;
  color: #696969;
  padding-top: 5px;
  line-height: 20px;
}

hr {
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: none;
  margin: 10px 0px;
}

.model-specs {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  margin-left: 2vw;
}

.speed-icon {
  height: 35px;
  width: 35px;
}
.acceleration-icon {
  height: 35px;
  width: 35px;
}

.weight-icon {
  height: 30px;
  width: 30px;
}

.speed-no-p,
.acceleration-no-p,
.weight-no-p {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.weight-no-p {
  padding-top: 5px;
}

/*content slider toggle*/

.model-toggle-lable {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.model-toggle-lable li {
  list-style: none;
  height: 60px;
  width: 30px;
  background: transparent;
  border: 2px solid #fff;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  transition: 0.5s;
  cursor: pointer;
  border-right: none;
}

.model-toggle-lable li:hover {
  background: #ffffff;
  opacity: 0.8;
}

.model-toggle-lable li span {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid #fff;
  transition: 0.5s;
  top: 51%;
  left: 46%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}

.model-toggle-lable li:hover span {
  border: 2px solid #000;
  opacity: 0.7;
  border-right: none;
  border-bottom: none;
}

.model-toggle-lable.model-open li span {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.5s;
  top: 51%;
  left: 24%;
  transform: translateY(-50%) rotate(-45deg);
  border-left: none;
  border-top: none;
}

.model-toggle-lable.model-open li:hover span {
  border: 2px solid #000;
  opacity: 0.7;
  border-left: none;
  border-top: none;
}

/*End content slider toggle*/

/*Hide modell content ans show it after clicking the model toggle*/
.model-toggle {
  display: none;
}
.model-content-hide-mobile-view {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #131313;
  transform: scale(0, 1);
  transition: transform 200ms ease-in-out 100ms;
  transform-origin: right;
  border-right: none;
}

.model-toggle:checked ~ .model-content-hide-mobile-view {
  transform: scale(1, 1);
}

@media screen and (min-width: 570px) and (max-width: 1179px) {
  .model-content-hide-mobile-view {
    width: 40vw;
  }

  .model-name :first-child :first-child {
    display: none;
  }
}

@media screen and (min-width: 575px) and (max-width: 1004px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Main Content slider from Left side changes*/

  .header-nav-content {
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: white;
    transform: scale(0, 1);
    transition: transform 200ms ease-in-out 100ms;
    transform-origin: right;
    padding-top: 4rem;
    margin-top: 0px;
    border: none;
    border-radius: 0px;
  }

  .nav-toggle-lable.open span::before {
    transform: rotate(45deg) translate(15px, -15px);
    background: black;
  }

  .nav-toggle-lable.open span::after {
    transform: rotate(-45deg) translate(15px, 15px);
    background: black;
  }

  /* Background Images*/
  .slide:first-child {
    background: url("../Media/ImageSliderFour.jpg") no-repeat center
      center/cover;
  }
  .slide:nth-child(2) {
    background: url("../Media/ImageSliderFive.jpg") no-repeat center top/cover;
  }
  .slide:nth-child(3) {
    background: url("../Media/ImageSliderSix.jpg") no-repeat center top/cover;
  }

  /* Image Slide Left-Right Buttons*/

  .buttons {
    display: contents;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .button-left {
    position: absolute;
    bottom: 48%;
    left: 0px;
  }

  .button-next {
    position: absolute;
    bottom: 48%;
    right: 0px;
  }

  .buttons li {
    list-style: none;
    width: 2.2rem;
    height: 2.2rem;
    background: transparent;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }

  .buttons li:hover {
    background: #ffffff;
    opacity: 0.8;
  }

  .buttons li span {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid #fff;
    transition: 0.5s;
  }

  /*for Next-icon*/
  .buttons li.next span {
    top: 51%;
    right: 44%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
  }

  .buttons li.next:hover span {
    border: 2px solid #000;
    opacity: 0.7;
    border-left: none;
    border-top: none;
  }

  /*for Previous-icon*/
  .buttons li.prev span {
    top: 51%;
    left: 44%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
  }

  .buttons li.prev:hover span {
    border: 2px solid #000;
    opacity: 0.7;
    border-right: none;
    border-bottom: none;
  }

  /*Mouse Scroll*/
  .scroll {
    right: 48%;
  }

  /*Slide Bar*/

  .slider-bar,
  .slider-bar::before,
  .slider-bar::after {
    display: none;
    /*left: 94%;
    top: 97%;*/
  }

  /*.slider-bar::before {
    transform: translateX(-2.4em) translateY(-3px);
  }

  .slider-bar::after {
    transform: translateX(0.5em) translateY(-3px);
  }*/

  /*Change the position of conent of the slide*/

  .slide .content {
    position: absolute;
    bottom: 34%;
    /*to put content in the middle*/
    left: 0%;
    right: 0%;
    font-size: 8vw;
  }

  .slide.current .content {
    opacity: 1;
    font-family: "Euphoria Script", cursive;
    transition: all 1000ms ease-in-out 600ms;
  }

  .slider :first-child :first-child :first-child :nth-child(3),
  .slider :nth-child(2) :first-child :first-child :nth-child(3),
  .slider :nth-child(3) :first-child :first-child :nth-child(3) {
    font-size: 14vw;
    line-height: 1;
  }
  /* Size of Main Hamburger Slide */
  .header-nav-links-content li {
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.8rem;
  }

  .header-nav-links-content li a {
    font-size: 0.9rem;
  }

  /* Dropdown-Models */
  .header-nav-models-tablet-view,
  .header-nav-models-tablet-view-dropdown {
    display: contents;
  }

  .header-nav-links-content :nth-child(2),
  .header-nav-links-content :nth-child(3) {
    display: none;
  }

  .header-nav-links-models-tablet-view-dropdown {
    font-family: sans-serif;
    list-style: none;
    text-align: center;
    transform: scale(1, 0);
    transition: transform 200ms ease-in-out 100ms;
    transform-origin: top;
    top: 100%;
    position: absolute;
    left: 38%;
    right: 38%;
    margin: auto;
    background: #ffffff;
    border: 1px solid #bfafb2;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #808080;
  }

  .header-nav-links-models-tablet-view-dropdown li {
    margin: 10px 0;
  }

  .header-nav-links-models-tablet-view-dropdown li a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    opacity: 0;
    font-family: sans-serif;
    text-transform: uppercase;
  }

  .header-nav-links-models-tablet-view-dropdown li a:hover {
    /*cursor: pointer;*/
    color: #8d8d8d;
  }

  /* Horizontal line in the Main Hamburger Navigaion Bar*/
  .header-nav-links-models-tablet-view-dropdown hr {
    border-top: 1px solid #bfafb2;
    border-bottom: none;
    margin: 0px 10px;
  }
  /* End */

  .nav-toggle-tablet-view:checked
    ~ .header-nav-models-tablet-view-dropdown
    .header-nav-links-models-tablet-view-dropdown {
    transform: scale(1, 1);
  }

  .nav-toggle-tablet-view:checked
    ~ .header-nav-models-tablet-view-dropdown
    .header-nav-links-models-tablet-view-dropdown
    li
    a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 240ms;
  }

  /* Models plus toggle animation */
  .nav-toggle-tablet-view {
    display: none;
  }

  .nav-toggle-tablet-view-lable ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    list-style: none;
    margin-top: 2px;
  }

  .nav-toggle-tablet-view-lable ul:hover {
    cursor: pointer;
  }

  .nav-toggle-tablet-view-lable ul li::after {
    content: "";
    display: block;
    height: 1px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .nav-toggle-tablet-view-lable ul li:hover::after {
    transform: scale(1, 1);
  }
}
@media screen and (min-width: 1080px) {
  .model-content-hide-mobile-view {
    width: 28vw;
  }

  .model-name {
    height: auto;
    width: auto;
    margin: 60px 30px 20px 30px;
  }

  .model-name :first-child {
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    font-weight: bolder;
  }

  .model-name :first-child :first-child {
    display: contents;
    font-size: 16px;
    font-weight: normal;
  }

  .model-intro :first-child {
    text-align: left;
    font-size: 20px;
    color: #fffafa;
    font-weight: bold;
  }

  .model-intro :nth-child(2) {
    font-size: 16px;
    color: #696969;
    padding-top: 5px;
    line-height: 20px;
  }

  .model-achievements :first-child {
    text-align: left;
    font-size: 20px;
    color: #fffafa;
    font-weight: bold;
  }

  .model-achievements :nth-child(2) {
    font-size: 16px;
    color: #696969;
    padding-top: 5px;
    line-height: 20px;
  }

  .speed-icon {
    height: 45px;
    width: 45px;
  }

  .acceleration-icon {
    height: 45px;
    width: 45px;
  }

  .weight-icon {
    height: 40px;
    width: 40px;
  }

  .speed-no-p,
  .acceleration-no-p,
  .weight-no-p {
    font-family: "Noto Sans HK", sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
  }

  .weight-no-p {
    padding-top: 5px;
  }

  hr {
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    margin: 15px 0px;
  }
}
@media screen and (min-width: 1005px) {
  header {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .logo-text {
    height: auto;
    width: 198px;
    text-align: left;
    margin: 6px 1em;
  }

  /*Main Content slider from Left side changes*/

  .header-nav-content {
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: white;
    transform: scale(0, 1);
    transition: transform 200ms ease-in-out 100ms;
    transform-origin: right;
    padding-top: 4rem;
    margin-top: 0px;
    border: none;
    border-radius: 0px;
  }

  .nav-toggle-lable.open span::before {
    transform: rotate(45deg) translate(15px, -15px);
    background: black;
  }

  .nav-toggle-lable.open span::after {
    transform: rotate(-45deg) translate(15px, 15px);
    background: black;
  }

  /* Background Images*/
  .slide:first-child {
    background: url("../Media/ImageSliderSeven.jpg") no-repeat center
      center/cover;
  }
  .slide:nth-child(2) {
    background: url("../Media/ImageSliderEight.jpg") no-repeat center top/cover;
  }
  .slide:nth-child(3) {
    background: url("../Media/ImageSliderNine.jpg") no-repeat center top/cover;
  }

  /* Image Slide Left-Right Buttons*/

  .buttons {
    display: contents;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .button-left {
    position: absolute;
    bottom: 48%;
    left: 0px;
  }

  .button-next {
    position: absolute;
    bottom: 48%;
    right: 0px;
  }

  .buttons li {
    list-style: none;
    width: 2.2rem;
    height: 2.2rem;
    background: transparent;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }

  .buttons li:hover {
    background: #ffffff;
    opacity: 0.8;
  }

  .buttons li span {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid #fff;
    transition: 0.5s;
  }

  /*for Next-icon*/
  .buttons li.next span {
    top: 51%;
    right: 44%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
  }

  .buttons li.next:hover span {
    border: 2px solid #000;
    opacity: 0.7;
    border-left: none;
    border-top: none;
  }

  /*for Previous-icon*/
  .buttons li.prev span {
    top: 51%;
    left: 44%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
  }

  .buttons li.prev:hover span {
    border: 2px solid #000;
    opacity: 0.7;
    border-right: none;
    border-bottom: none;
  }

  /*Mouse Scroll*/
  .scroll {
    right: 48%;
  }

  /*Slide Bar*/

  .slider-bar,
  .slider-bar::before,
  .slider-bar::after {
    display: none;
    /*left: 95.5%;
    top: 97%;*/
  }

  /*.slider-bar::before {
    transform: translateX(-2.4em) translateY(-3px);
  }

  .slider-bar::after {
    transform: translateX(0.5em) translateY(-3px);
  }*/

  /*Change the position of conent of the slide*/

  .content-first-slider .content-for-mobile-size,
  .content-second-slider .content-for-mobile-size,
  .content-third-slider .content-for-mobile-size {
    display: none;
  }

  .content-first-slider .content-for-desktop-size,
  .content-second-slider .content-for-desktop-size,
  .content-third-slider .content-for-desktop-size {
    display: contents;
  }

  .slide .content {
    position: absolute;
    font-size: 6vw;
    color: #fff;
    opacity: 0;
    line-height: 0;
  }

  .slide.current .content {
    opacity: 0.7;
    font-family: "Euphoria Script", cursive;
    transition: all 1000ms ease-in-out 500ms;
  }

  .slide .content-first-slider {
    text-align: left;
    left: 53%;
    bottom: 50%;
  }

  .slide .content-second-slider {
    text-align: left;
    left: 8%;
    top: 14%;
  }

  .slide .content-third-slider {
    text-align: left;
    left: 10%;
    top: 14%;
  }

  /*First Slide Content*/
  .slider :first-child :first-child :nth-child(2) :nth-child(1) {
    font-size: 5vw;
    line-height: 1;
  }
  .slider :first-child :first-child :nth-child(2) :nth-child(3) {
    font-size: 6vw;
    line-height: 1;
  }
  .slider :first-child :first-child :nth-child(2) :nth-child(5) {
    font-size: 8vw;
    line-height: 1;
  }

  /*Second Slide Content*/
  .slider :nth-child(2) :first-child :nth-child(2) :nth-child(1) {
    font-size: 5vw;
    line-height: 1;
  }
  .slider :nth-child(2) :first-child :nth-child(2) :nth-child(3) {
    font-size: 6vw;
    line-height: 1;
  }

  .slider :nth-child(2) :first-child :nth-child(2) :nth-child(5) {
    font-size: 8vw;
    line-height: 1;
  }

  /*Third Slide Content*/
  .slider :nth-child(3) :first-child :nth-child(2) :nth-child(1) {
    line-height: 1;
  }

  .slider :nth-child(3) :first-child :nth-child(2) :nth-child(3) {
    line-height: 1;
  }

  .slider :nth-child(3) :first-child :nth-child(2) :nth-child(5) {
    font-size: 10vw;
    line-height: 1;
  }

  /* Size of Main Hamburger Slide */
  .header-nav-links-content li {
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.8rem;
  }

  .header-nav-links-content li a {
    font-size: 0.9rem;
  }

  /*Models Navigation*/
  .header-nav-models {
    display: contents;
  }

  .header-nav-links-content :nth-child(2),
  .header-nav-links-content :nth-child(3) {
    display: none;
  }

  .header-nav-links-models {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }

  .header-nav-links-models li {
    margin-right: 1em;
    margin-left: 1em;
    font-family: sans-serif;
  }

  .header-nav-links-models li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.4s linear;
  }

  .header-nav-links-models li::after {
    cursor: pointer;
    content: "";
    display: block;
    height: 1px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .header-nav-links-models li:hover::after {
    transform: scale(1, 1);
  }
}
